body {
    background-color: #383838 !important;
    color: #FDB812 !important;
}


.header {
    display: block;
    width: 100vw;
    text-align: center;

}

.desc {
    display: block;
    width: 100vw;
    text-align: center;
   
    font-size: 20px;
}

.button {
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    padding: 1em;
    background: green;
    border: none;
    border-radius: 30px;
    color: #fff;
}


.hopCard {
    margin-top: 10px;
}

.padTop {
    padding-top: 2em;
}

.logout {
    padding: 1em;
    position: absolute;
    right: 0;
}